<!DOCTYPE html>
<html>
<head>
	<title>Assignment Table 4</title>
</head>
<body>
	<center>
		<table border="2px" cellspacing="2px" cellpadding="1px">
			<tr>
				<th rowspan="2">Heading</th>
				<th>Students</th>
				<th colspan="3">Details</th>
			</tr>
			<tr>
				<th>Id</th>
				<TH>Name</TH>
				<th>Department</th>
				<th>Roll Number</th>
			</tr>
			<tr>
				<td rowspan="4">Student list</td>
				<td>1</td>
				<td>Victor</td>
				<td>Computer science</td>
				<td>12345</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Williams</td>
				<td>Electronics</td>
				<td>23456</td>
			</tr>
			<tr>
				<td>3</td>
				<td>Harry</td>
				<td>Electrical</td>
				<td>34567</td>
			</tr>
			<tr>
				<td>4</td>
				<td>Rick</td>
				<td>Civil</td>
				<td>45678</td>
			</tr>
		</table>
	</center>
	<center>
        <h3><a href="{% url 'metromonial' %}">Click here to go to Metromonial</a></h3>
        <h3><a href="{% url 'Ass_animation1' %}">Click here to go to Animation1</a></h3>
        <h3><a href="{% url 'Ass_divTag' %}">Click here to go to DivTAg</a></h3>
        <h3><a href="{% url 'Ass_table2' %}">Click here to go to Table 2</a></h3>
        <h3><a href="{% url 'Ass_table3' %}">Click here to go to Table 3</a></h3>
        <h3><a href="{% url 'Ass_table5' %}">Click here to go to Table 5</a></h3>
        <h3><a href="{% url 'Ass_table6' %}">Click here to go to Table 6</a></h3>
        <h3><a href="{% url 'Combinator_selector' %}">Click here to go to Combinator selectors</a></h3>
        <h3><a href="{% url 'Form_1' %}">Click here to go to Form 1</a></h3>
        <h3><a href="{% url 'Form_2' %}">Click here to go to Form 2</a></h3>
        <h3><a href="{% url 'fees_calculator' %}">Click here to go to Fees calculator</a></h3>
        <h3><a href="{% url 'digital_watch' %}">Click here to go to Digital watch</a></h3>
        <h3><a href="{% url 'Ass_animation2' %}">Click here to go to Animation1</a></h3>
        <h3><a href="{% url 'Ass_transform' %}">Click here to go to Transform</a></h3>
    </center>
</body>
</html>