{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CSS Combinators</title>
    <link rel="stylesheet" href="{% static 'css/Combinator_selector.css' %}">
</head>
<body>
    <div>
        <img src="{% static 'images/Lord venkatesh.jpg' %}"/>
        <div id="wrapper"></div>
        <div id="left"></div>
        <div id="right"></div>
    </div>
    <center>
        <h3><a href="{% url 'Ass_animation1' %}">Click here to go to Animation1</a></h3>
        <h3><a href="{% url 'Ass_animation2' %}">Click here to go to Animation2</a></h3>
        <h3><a href="{% url 'Ass_table2' %}">Click here to go to Table 2</a></h3>
        <h3><a href="{% url 'Ass_table3' %}">Click here to go to Table 3</a></h3>
        <h3><a href="{% url 'Ass_table4' %}">Click here to go to Table 4</a></h3>
        <h3><a href="{% url 'Ass_table5' %}">Click here to go to Table 5</a></h3>
        <h3><a href="{% url 'Ass_table6' %}">Click here to go to Table 6</a></h3>
        <h3><a href="{% url 'Form_1' %}">Click here to go to Form 1</a></h3>
        <h3><a href="{% url 'Form_2' %}">Click here to go to Form 2</a></h3>
        <h3><a href="{% url 'fees_calculator' %}">Click here to go to Fees calculator</a></h3>
        <h3><a href="{% url 'digital_watch' %}">Click here to go to Digital watch</a></h3>
        <h3><a href="{% url 'metromonial' %}">Click here to go to Metromonial</a></h3>
        <h3><a href="{% url 'Ass_divTag' %}">Click here to go to DivTags</a></h3>
        <h3><a href="{% url 'Ass_transform' %}">Click here to go to Transform</a></h3>
    </center>
</body>
</html>