{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Details form 1</title>
</head>
<body>
    <center>
        <h2>Edit your Details</h2>
        <form>
            <table style="background-color: rgba(231, 216, 216, 0.984);">
                <tr>
                    <td><label><h4>Username:</h4></label></td>
                    <td><input type="text" name="Username"/></td>
                </tr>
                <tr>
                    <td><label><h4>Passward:</h4></label></td>
                    <td><input type="password" name="Passward"></td>
                </tr>
                <tr>
                    <td><label><h4>Full Name:</h4></label></td>
                    <td><input type="text" name="Full Name"></td>
                </tr>
                <tr>
                    <td><label><h4>Email:</h4></label></td>
                    <td><input type="email" name="Email"></td>
                </tr>
                <tr>
                    <td><label><h4>Phone Number:</h4></label></td>
                    <td><input type="number" name="Phone Number"></td>
                </tr>
                <tr>
                    <td><h4>Address:</h4></td>
                    <td><input type="text" name="Address"></td>
                </tr>
                <tr>
                    <td><label><h4>Hotel Branch:</h4></label></td>
                    <td>
                        <select>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Mumbai" selected>Mumbai</option>
                            <option value="Delhi">Delhi</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><button><b>Update</b></button> <button><b>Delete</b></button></td>
                </tr>
            </table>
        </form>
    </center>
    <center>
        <h3><a href="{% url 'Ass_animation1' %}">Click here to go to Animation1</a></h3>
        <h3><a href="{% url 'Ass_animation2' %}">Click here to go to Animation2</a></h3>
        <h3><a href="{% url 'Ass_table2' %}">Click here to go to Table 2</a></h3>
        <h3><a href="{% url 'Ass_table3' %}">Click here to go to Table 3</a></h3>
        <h3><a href="{% url 'Ass_table4' %}">Click here to go to Table 4</a></h3>
        <h3><a href="{% url 'Ass_table5' %}">Click here to go to Table 5</a></h3>
        <h3><a href="{% url 'Ass_table6' %}">Click here to go to Table 6</a></h3>
        <h3><a href="{% url 'Combinator_selector' %}">Click here to go to Combinator selectors</a></h3>
        <h3><a href="{% url 'Form_2' %}">Click here to go to Form 2</a></h3>
        <h3><a href="{% url 'fees_calculator' %}">Click here to go to Fees calculator</a></h3>
        <h3><a href="{% url 'digital_watch' %}">Click here to go to Digital watch</a></h3>
        <h3><a href="{% url 'metromonial' %}">Click here to go to Metromonial</a></h3>
        <h3><a href="{% url 'Ass_divTag' %}">Click here to go to DivTags</a></h3>
        <h3><a href="{% url 'Ass_transform' %}">Click here to go to Transform</a></h3>
    </center>
</body>
</html>